name: Ansible on macOS

on:
  pull_request:
    branches:
      - main
  push:
    branches-ignore:
      - main
  schedule:
    - cron: '10 11 * * *'
  workflow_dispatch:

env:
  # Overwrite the default shell to zsh
  SHELL: /bin/zsh

jobs:
  test-on-macos-sonoma-arm64:
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Ansible 2.17.0 against supported Python versions
      - name: Install Ansible 2.17.0 with Python 3.10.0
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.0 --python 3.10.0
      - name: Install Ansible 2.17.0 with Python 3.10.19
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.0 --python 3.10.19
      - name: Install Ansible 2.17.0 with Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.0 --python 3.11.14
      - name: Install Ansible 2.17.0 with Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.0 --python 3.12.12

      # Ansible 2.17.14 against supported Python versions
      - name: Install Ansible 2.17.14 with Python 3.10.0
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.14 --python 3.10.0
      - name: Install Ansible 2.17.14 with Python 3.10.19
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.14 --python 3.10.19
      - name: Install Ansible 2.17.14 with Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.14 --python 3.11.14
      - name: Install Ansible 2.17.14 with Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.14 --python 3.12.12

      # Ansible 2.18.10 against supported Python versions
      - name: Install Ansible 2.18.10 with Python 3.11.0
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.18.10 --python 3.11.0
      - name: Install Ansible 2.18.10 with Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.18.10 --python 3.11.14
      - name: Install Ansible 2.18.10 with Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.18.10 --python 3.12.12
      - name: Install Ansible 2.18.10 with Python 3.13.11
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.18.10 --python 3.13.11

      # Ansible 2.19.3 against supported Python versions
      - name: Install Ansible 2.19.3 with Python 3.11.0
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.19.3 --python 3.11.0
      - name: Install Ansible 2.19.3 with Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.19.3 --python 3.11.14
      - name: Install Ansible 2.19.3 with Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.19.3 --python 3.12.12
      - name: Install Ansible 2.19.3 with Python 3.13.11
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.19.3 --python 3.13.11

      - name: List all Ansible versions
        shell: zsh {0}
        run: |
          ls ~/envs

  test-on-macos-sequoia-arm64:
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Ansible 2.17.0
      - name: Install Ansible 2.17.0 with Python 3.10.0
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.0 --python 3.10.0
      - name: Install Ansible 2.17.0 with Python 3.10.19
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.0 --python 3.10.19
      - name: Install Ansible 2.17.0 with Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.0 --python 3.11.14
      - name: Install Ansible 2.17.0 with Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.0 --python 3.12.12

      # Ansible 2.17.14
      - name: Install Ansible 2.17.14 with Python 3.10.0
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.14 --python 3.10.0
      - name: Install Ansible 2.17.14 with Python 3.10.19
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.14 --python 3.10.19
      - name: Install Ansible 2.17.14 with Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.14 --python 3.11.14
      - name: Install Ansible 2.17.14 with Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.14 --python 3.12.12

      # Ansible 2.18.10
      - name: Install Ansible 2.18.10 with Python 3.11.0
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.18.10 --python 3.11.0
      - name: Install Ansible 2.18.10 with Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.18.10 --python 3.11.14
      - name: Install Ansible 2.18.10 with Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.18.10 --python 3.12.12
      - name: Install Ansible 2.18.10 with Python 3.13.11
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.18.10 --python 3.13.11

      # Ansible 2.19.3
      - name: Install Ansible 2.19.3 with Python 3.11.0
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.19.3 --python 3.11.0
      - name: Install Ansible 2.19.3 with Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.19.3 --python 3.11.14
      - name: Install Ansible 2.19.3 with Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.19.3 --python 3.12.12
      - name: Install Ansible 2.19.3 with Python 3.13.11
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.19.3 --python 3.13.11

      - name: List all Ansible versions
        shell: zsh {0}
        run: |
          ls ~/envs

  test-on-macos-sequoia-x86_64:
    runs-on: macos-15-intel
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Ansible 2.17.0
      - name: Install Ansible 2.17.0 with Python 3.10.0
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.0 --python 3.10.0
      - name: Install Ansible 2.17.0 with Python 3.10.19
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.0 --python 3.10.19
      - name: Install Ansible 2.17.0 with Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.0 --python 3.11.14
      - name: Install Ansible 2.17.0 with Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.0 --python 3.12.12

      # Ansible 2.17.14
      - name: Install Ansible 2.17.14 with Python 3.10.0
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.14 --python 3.10.0
      - name: Install Ansible 2.17.14 with Python 3.10.19
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.14 --python 3.10.19
      - name: Install Ansible 2.17.14 with Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.14 --python 3.11.14
      - name: Install Ansible 2.17.14 with Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.14 --python 3.12.12

      # Ansible 2.18.10
      - name: Install Ansible 2.18.10 with Python 3.11.0
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.18.10 --python 3.11.0
      - name: Install Ansible 2.18.10 with Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.18.10 --python 3.11.14
      - name: Install Ansible 2.18.10 with Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.18.10 --python 3.12.12
      - name: Install Ansible 2.18.10 with Python 3.13.11
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.18.10 --python 3.13.11

      # Ansible 2.19.3
      - name: Install Ansible 2.19.3 with Python 3.11.0
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.19.3 --python 3.11.0
      - name: Install Ansible 2.19.3 with Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.19.3 --python 3.11.14
      - name: Install Ansible 2.19.3 with Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.19.3 --python 3.12.12
      - name: Install Ansible 2.19.3 with Python 3.13.11
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.19.3 --python 3.13.11

      - name: List all Ansible versions
        shell: zsh {0}
        run: |
          ls ~/envs

  test-on-macos-tahoe-arm64:
    runs-on: macos-26
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Ansible 2.17.0
      - name: Install Ansible 2.17.0 with Python 3.10.0
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.0 --python 3.10.0
      - name: Install Ansible 2.17.0 with Python 3.10.19
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.0 --python 3.10.19
      - name: Install Ansible 2.17.0 with Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.0 --python 3.11.14
      - name: Install Ansible 2.17.0 with Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.0 --python 3.12.12

      # Ansible 2.17.14
      - name: Install Ansible 2.17.14 with Python 3.10.0
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.14 --python 3.10.0
      - name: Install Ansible 2.17.14 with Python 3.10.19
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.14 --python 3.10.19
      - name: Install Ansible 2.17.14 with Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.14 --python 3.11.14
      - name: Install Ansible 2.17.14 with Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.17.14 --python 3.12.12

      # Ansible 2.18.10
      - name: Install Ansible 2.18.10 with Python 3.11.0
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.18.10 --python 3.11.0
      - name: Install Ansible 2.18.10 with Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.18.10 --python 3.11.14
      - name: Install Ansible 2.18.10 with Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.18.10 --python 3.12.12
      - name: Install Ansible 2.18.10 with Python 3.13.11
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.18.10 --python 3.13.11

      # Ansible 2.19.3
      - name: Install Ansible 2.19.3 with Python 3.11.0
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.19.3 --python 3.11.0
      - name: Install Ansible 2.19.3 with Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.19.3 --python 3.11.14
      - name: Install Ansible 2.19.3 with Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.19.3 --python 3.12.12
      - name: Install Ansible 2.19.3 with Python 3.13.11
        shell: zsh {0}
        run: |
          ./macos/install/ansible.sh -v 2.19.3 --python 3.13.11

      - name: List all Ansible versions
        shell: zsh {0}
        run: |
          ls ~/envs