name: Python on macOS

on:
  pull_request:
    branches:
      - main
  push:
    branches-ignore:
      - main
  schedule:
    - cron: '40 10 * * *'
  workflow_dispatch:

env:
  # Overwrite the default shell to zsh
  SHELL: /bin/zsh

jobs: 
  test-on-macos-sonoma-arm64:
    runs-on: macos-14
    steps:
      # Checkout this repo
      - name: Checkout
        uses: actions/checkout@v4
      # Run the script using zsh
      # 3.10.0 is the first version that supports Apple Silicon (technically 3.9.1 but we are deprecating 3.9)
      - name: Install Python 3.10.0
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.10.0

      - name: Install Python 3.10.19
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.10.19
      - name: Install Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.11.14
      - name: Install Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.12.12
      - name: Install Python 3.13.8
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.13.8
      - name: Install Python 3.14.0
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.14.0
      - name: List all Python versions
        shell: zsh {0}
        run: |
          source ~/.zshrc
          pyenv versions
      - name: Install Poetry bound with Python 3.10.0
        shell: zsh {0}
        run: |
          ./macos/install/python-poetry.sh -v 3.10.0
      - name: Uninstall Poetry
        shell: zsh {0}
        run: |
          curl -sSL https://install.python-poetry.org | python3 - --uninstall
          unlink $HOME/.local/bin/poetry
      - name: Install Poetry bound with Python 3.14.0
        shell: zsh {0}
        run: |
          ./macos/install/python-poetry.sh -v 3.14.0

  test-on-macos-sequoia-arm64:
    runs-on: macos-15
    steps:
      # Checkout this repo
      - name: Checkout
        uses: actions/checkout@v4
      # Run the script using zsh
      # 3.10.0 is the first version that supports Apple Silicon (technically 3.9.1 but we are deprecating 3.9)
      - name: Install Python 3.10.0
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.10.0

      - name: Install Python 3.10.19
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.10.19
      - name: Install Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.11.14
      - name: Install Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.12.12
      - name: Install Python 3.13.8
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.13.8
      - name: Install Python 3.14.0
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.14.0
      - name: List all Python versions
        shell: zsh {0}
        run: |
          source ~/.zshrc
          pyenv versions
      - name: Install Poetry bound with Python 3.10.0
        shell: zsh {0}
        run: |
          ./macos/install/python-poetry.sh -v 3.10.0
      - name: Uninstall Poetry
        shell: zsh {0}
        run: |
          curl -sSL https://install.python-poetry.org | python3 - --uninstall
          unlink $HOME/.local/bin/poetry
      - name: Install Poetry bound with Python 3.14.0
        shell: zsh {0}
        run: |
          ./macos/install/python-poetry.sh -v 3.14.0

  test-on-macos-sequoia-x86_64:
    runs-on: macos-15-intel
    steps:
      # Checkout this repo
      - name: Checkout
        uses: actions/checkout@v4
      # Run the script using zsh
      # 3.10.0 is the first version that supports Apple Silicon (technically 3.9.1 but we are deprecating 3.9)
      - name: Install Python 3.10.0
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.10.0

      - name: Install Python 3.10.19
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.10.19
      - name: Install Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.11.14
      - name: Install Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.12.12
      - name: Install Python 3.13.8
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.13.8
      - name: Install Python 3.14.0
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.14.0
      - name: List all Python versions
        shell: zsh {0}
        run: |
          source ~/.zshrc
          pyenv versions
      - name: Install Poetry bound with Python 3.10.0
        shell: zsh {0}
        run: |
          ./macos/install/python-poetry.sh -v 3.10.0
      - name: Uninstall Poetry
        shell: zsh {0}
        run: |
          curl -sSL https://install.python-poetry.org | python3 - --uninstall
          unlink $HOME/.local/bin/poetry
      - name: Install Poetry bound with Python 3.14.0
        shell: zsh {0}
        run: |
          ./macos/install/python-poetry.sh -v 3.14.0

  test-on-macos-tahoe-arm64:
    runs-on: macos-26
    steps:
      # Checkout this repo
      - name: Checkout
        uses: actions/checkout@v4
      # Run the script using zsh
      # 3.10.0 is the first version that supports Apple Silicon (technically 3.9.1 but we are deprecating 3.9)
      - name: Install Python 3.10.0
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.10.0

      - name: Install Python 3.10.19
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.10.19
      - name: Install Python 3.11.14
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.11.14
      - name: Install Python 3.12.12
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.12.12
      - name: Install Python 3.13.8
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.13.8
      - name: Install Python 3.14.0
        shell: zsh {0}
        run: |
          ./macos/install/python-pipenv.sh -v 3.14.0
      - name: List all Python versions
        shell: zsh {0}
        run: |
          source ~/.zshrc
          pyenv versions
      - name: Install Poetry bound with Python 3.10.0
        shell: zsh {0}
        run: |
          ./macos/install/python-poetry.sh -v 3.10.0
      - name: Uninstall Poetry
        shell: zsh {0}
        run: |
          curl -sSL https://install.python-poetry.org | python3 - --uninstall
          unlink $HOME/.local/bin/poetry
      - name: Install Poetry bound with Python 3.14.0
        shell: zsh {0}
        run: |
          ./macos/install/python-poetry.sh -v 3.14.0